.cardOrder {
  display: grid;
  grid-gap: 0.5rem;
  grid-template:
    "a a . . . ."
    "b b b b c c"
    "d d d d c c"
    "e e e e f g"
    "e e e e h i"
    "j j j j k k";
}

.opt1 {
  grid-area: a;
}

.opt2 {
  grid-area: b;
}

.opt3 {
  grid-area: c;
}

.opt4 {
  grid-area: d;
}

.opt5 {
  grid-area: e;
}

.opt6 {
  grid-area: f;
}

.opt7 {
  grid-area: g;
}

.opt8 {
  grid-area: h;
}

.opt9 {
  grid-area: i;
}

.opt10 {
  grid-area: j;
}

.opt11 {
  grid-area: k;
}
